<template>
    <div class="sq-card-pet-info">
        <div class="photo"><img :src="photoPath" :alt="petName"/></div>
        <div class="title">{{petName}}</div>
        <div class="age">나이 : {{petAge}}살</div>
        <div class="birthday">생일 : {{ petBirthDay }}</div>
        <div>가격 : {{petPrice | currency }}원</div>
        <div v-if="petAge >= 10"> 슬퍼요.. 늙었으.. </div>
        <div v-else>쌩썡해요</div>

        <div><nuxt-link :to="'/vp/products/' + id">자세히보기</nuxt-link></div>
    </div>
</template>

<script>
export default {
    props:{
        id:{
            type:Number,
            required:true
        },
        photoPath:{
            type: String,
            required:true,
        },
        petName:{
            type:String,
            required:true
        },
        petAge:{
            type:Number,
            required:true
        },
        petBirthDay:{
            type:String,
            required:true
        },
        petPrice:{
            type:Number,
            required:false,
            default:0
        }
    }
}


</script>
