<template>
    <div class="card-season-info">
        <div class="photo"><img :src="photoSeason" :alt="seasonName"/></div>
        <div class="title">계절 : {{seasonName}}</div>
        <div class="start">{{seasonStart}}월부터~</div>
    </div>
</template>


<script>
export default{
    props: {
        photoSeason:{
            type:String,
            required:true
        },
        seasonName:{
            type:String,
            required:true
        },
        seasonStart:{
            type:Number,
            required:true
        }
    }
}
</script>
