<template>

        <div class="copang-main-class">
            <div class="Photos">
                <img :src="copangPhoto" :alt="copangTitle"/>
            </div>
            <div class="title">{{ copangTitle }}</div>
            <div class="Sale">{{ copangSale | currency }}원</div>
            <div class="Price">{{ copangPrice | currency }}원</div>
            <div class="Arrival">금주({{ copangArrival }}) 도착 보장</div>
            <div class=" Save">최대 {{ copangSave | currency }}원 적립</div>
            <div class="CStar">
                <div class="Star"></div>
                <div class="Star"></div>
                <div class="Star"></div>
                <div class="Star"></div>
                <div class="Star"></div>
            </div>
        </div>

</template>

<script>
export default {
    props: {
        copangPhoto: {
            type: String,
            required: true
        },
        copangTitle: {
            type: String,
            required: true
        },
        copangPrice: {
            type: Number,
            required: true
        },
        copangArrival: {
            type: String,
            required: true
        },
        copangSave: {
            type: Number,
            required: true
        },
        copangSale: {
            type: Number,
            required: true
        },
        copangStar: {
            type:String,
            required:true
        }


    }
}
</script>

