div.error-box {
    width: 300px;
    border: #eeeeee 1px solid;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
    box-shadow: 1px 1px 1px 1px #EDEDED;
}
div.error-box div.in-icon i {
    font-size: 84px;
    color: #666666;
}
div.error-box div.in-code {
    font-size: 24px;
    font-weight: 600;
}


div.sq-login-box {
    width: 350px;
    margin: 0 auto;
    padding-top: calc(50vh - 153px);
}
div.sq-login-box div.img-box img {
    width: 100%;
}


span.sq-status-badge {
    background-color: #ac0000;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 15px 10px 5px;
    color: #ffffff;
}
span.sq-status-badge span {
    background-color: #ffffff;
    color: #333333;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    padding: 5px 10px;
}


div.sq-ending-thumb-box {
    width: 120px;
    background-color: #001b89;
    text-align: center;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-thumb {
    padding-top: 10px;
}
div.sq-ending-thumb-box div.in-thumb img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-text {
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 5px;
    font-weight: 600;
}

.sq-ballon {
    border: #333333 1px solid;
    width: 320px;
    position: relative;
    background: #333333;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 12.8px;
    -webkit-box-shadow: 3px 3px 3px 3px #D1D1D1;
    box-shadow: 3px 3px 3px 3px #D1D1D1;
}


.sq-ballon:after {
    border-top: 10px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 35px;
    left: 160px;
}
/*펫 카드형*/
div.sq-card-pet-info{
    border : #666666 1px solid;
    padding : 15px;
    display: inline-block;
}
div.sq-card-pet-info > div.photo > img {
    width: 200px;
    height: 200px;
}
div.sq-card-pet-info > div.title{
    font-weight:700;
    text-align: center;
}
div.card-season-info {
    border : #666666 1px solid;
    padding : 15px;
    display: inline-block;
}
div.card-season-info > div.photo > img {
    width: 200px;
    height: 200px;
}
div.card-season-info > div.title{
    font-weight:700;
    text-align: center;
}
div.copang-main-class{
    padding:15px;
    margin:7px;
    border-radius: 10px;
    letter-spacing:-1px;
    display: inline-block;
    width:240px;
    line-height: 1.5em;

}

div.copang-main-class:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
div.copang-main-class > div.Photos > img {
    width:240px;
    height:240px;
    padding-bottom: 10px;

}

div.copang-main-class > div.title {
    font-weight:bold;
    font-size:14px;
    margin-bottom: 7px;
}
div.copang-main-class > div.Save{
    border-radius: 20px;
    border: 1px solid #433e3e;
    text-align: center;
    margin-left: 0px;
    width:120px;
    padding:1px;
    margin-top: 10px;
}
div.copang-main-class > div.Arrival{
    color: #258e05;
    margin: 5px 5px 5px 0px;
    font-size:17px;
}

div.copang-main-class > div.Sale{
    text-decoration: line-through;
    color:#333333;
    font-size:14px;
}
div.copang-main-class > div.Price{
   font-weight: bold;
    font-size:17px;
    color:#ac0000;
    margin: 5px 0px 5px 0px;
}

div.copang-big > div.backimg{
    background-image : url('../static/images/line.png');
    background-repeat : repeat-x;
    height:50px;
    display:flex;
    justify-content: start;
    align-items: center;
    background-position-y: center;
    margin-left: 10px;
}
div.copang-big > div.photo-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
div.copang-big > div.backimg > div.pick-txt{
    width:150px;
    height:50px;
    background-color:#fff;
    line-height:50px;
    font-size:20px;
    font-weight: bold;
    text-align: center;
}

div.flex-go{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:7px;
    flex-wrap: wrap;
}

div.copang-big > div.under-back {
    background-image: url('../static/images/line.png');
    background-repeat: repeat-x;
    height: 50px;
    background-position-y: center;
}
div.copang-big > div.ulflex{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top:7px;
    flex-wrap: wrap;
    gap:20px;
    background: #EDEDED;
    font-weight: bold;
    font-size:15px;
    height:50px;
}

div.copang-big > div.ulflex > a.bluefont {
    color:#193192;
    font-size:17px;
    margin-left: 30px;
}
div.copang-big > div.ulflex > a {
    color: #2e2b2b;
    text-decoration: none;


}
div.copang-main-class > div.CStar > div.Star{
    width:18px;
    height:18px;
    background-color: orange;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);


}
div.copang-main-class > div.CStar {
    display: flex;
    margin: 10px 10px 10px 0px;
}
