<template>
    <div class="copang-big">
        <div class="photo-center">
            <img src="/images/copangbanner.jpg" alt="쿠팡배너"/>
        </div>
        <div class="backimg">
            <div class="pick-txt">코팡 추천</div>
        </div>
        <div class="ulflex">

               <a href="" class="bluefont"> <div class="crank-blue">쿠팡 랭킹순</div> </a>
            <a href=""> <div>낮은 가격순</div> </a>
            <a href=""> <div>높은 가격순</div> </a>
            <a href=""> <div>판매량 순</div> </a>

        </div>
        <div class="under-back">

        </div>
        <div class="flex-go">
            <copang-comp
                v-for="(item, index) in copangs"
                v-bind:key="index"
                v-bind:copang-save="item.productSave"
                v-bind:copang-arrival="item.productArrival"
                v-bind:copang-price="item.productPrice"
                v-bind:copang-title="item.productName"
                v-bind:copang-photo="item.photosName"
                v-bind:copang-sale="item.productSale"
                v-bind:copang-star="item.copangStar"
            />
        </div>
        <div class="under-back">

        </div>
    </div>
</template>


<script>
export default {
    data() {
        return {
            copangs: [
                {
                    photosName: 'images/copang1.jpg',
                    productName: '일리 밀크프로더 우유거품기, F280G(화이트)',
                    productPrice: 98660,
                    productArrival: '수',
                    productSave: 4930,
                    productSale : 122000,
                    copangStar : null
                },
                {
                    photosName: 'images/copang2.jpg',
                    productName: '이지쿠커 IH 붕어빵팬 4구,1개 ,22 x 15CM',
                    productPrice: 40000,
                    productArrival: '목',
                    productSave: 4200,
                    productSale : 60000,
                    copangStar : null
                },
                {
                    photosName: 'images/copang3.jpg',
                    productName: '퀸센스 올스텐 인덕션 찜기 2단, 지름 28cm x 가로 39.7cm x 세로 19.5cm, 1개',
                    productPrice: 32999,
                    productArrival: '목',
                    productSave: 3900,
                    productSale : 40200,
                    copangStar : null
                },
                {
                    photosName: 'images/copang4.jpg',
                    productName: '달팽이리빙 퀴진드마망 순수 수저 4종 세트,그레이,브라운,크림화이트,핑크',
                    productPrice: 10200,
                    productArrival: '수',
                    productSave: 1040,
                    productSale : 20000,
                    copangStar : null
                },
                {
                    photosName: 'images/copang5.jpg',
                    productName: '인덕션 티타늄 1X 트렌디쿡 볶음팬 1 ',
                    productPrice: 28900,
                    productArrival: '토',
                    productSave: 2000,
                    productSale : 40200,
                    copangStar : null
                },
                {
                    photosName: 'images/dksqkd.jpg',
                    productName: '안방 그릴 연기먹는 안방 전기그릴 + 전용 가방세트 , AB501DG',
                    productPrice: 153000,
                    productArrival: '목',
                    productSave: 6070,
                    productSale : 179000,
                    copangStar : null
                },
                {
                    photosName: 'images/dbdkdyd.jpg',
                    productName: '주니 유아용 자기주도 빨대컵 210ml,화이트,1개',
                    productPrice: 25000,
                    productArrival: '수',
                    productSave: 1020,
                    productSale : 35000,
                    copangStar : null
                },
                {
                    photosName: 'images/xpvkf.jpg',
                    productName: '테팔 인덕션 스테인리스 스틸 컬렌션 트라이미 3종세트, 실버 ,프라이펜 22cm',
                    productPrice: 61680,
                    productArrival: '화',
                    productSave: 4120,
                    productSale : 151680,
                    copangStar : null
                },
                {
                    photosName: 'images/rmffktm.jpg',
                    productName: '글라스락 렌지쿡 촉촉한 햇반용기 원형 코코넛 밀크 350ml 6개',
                    productPrice: 26240,
                    productArrival: '일',
                    productSave: 1980,
                    productSale : 58500,
                    copangStar : null
                },
                {
                    photosName: 'images/tmxosfl.png',
                    productName: '스탠리 퀜처 H2.0 플로우스테이트 텀블러 , 차콜 ,887ml 1개',
                    productPrice: 42070,
                    productArrival: '토',
                    productSave: 1020,
                    productSale : 49000,
                    copangStar : null
                },

            ]
        }
    }
}
</script>
