<template>
    <div>
        <h1>계절계절</h1>
        <section>
            <card-season-info
                v-for="(item, index) in season"
                v-bind:key="index"
                v-bind:season-start="item.seasonStart"
                v-bind:season-name="item.seasonName"
                v-bind:photo-season="item.photosName"
            />
        </section>
    </div>
</template>

<script>
export default{
    data(){
        return{
            season:[
                {
                    photosName:'images/spring.jpeg',
                    seasonName:'봄',
                    seasonStart:3
                },
                {
                    photosName:'images/summer.jpeg',
                    seasonName:'여름',
                    seasonStart:6
                },
                {
                    photosName:'images/fall.jpeg',
                    seasonName:'가을',
                    seasonStart:9
                },
                {
                    photosName:'images/winter.jpeg',
                    seasonName:'겨울',
                    seasonStart:11
                },

            ]
        }

    }
}
</script>
