<template>
    <div>
        <h1>내 반려동물들</h1>
        <section>
            <card-pet-info
                v-for="(item, index) in pets"
                v-bind:key="index"
                v-bind:id="item.id"
                v-bind:pet-birth-day="item.petBirthDay"
                v-bind:pet-age="item.petAge"
                v-bind:pet-name="item.petName"
                v-bind:photo-path="item.photoName"
                v-bind:pet-price="item.petPrice"
            />
        </section>
    </div>
</template>

<script>
export default {
    data(){
        return{
            pets: [
                {
                    photoName : 'images/cute1.jpeg',
                    petName : "큐티",
                    petAge : 5,
                    petBirthDay : '2021-01-01',
                    petPrice : 100000,
                    id : 1
                },
                {
                    photoName : 'images/cute2.jpg',
                    petName : "큐티티",
                    petAge : 9,
                    petBirthDay : '2021-01-01',
                    petPrice : 200000,
                    id : 2
                },
                {
                    photoName : 'images/cute3.jpeg',
                    petName : "큐티티티",
                    petAge : 12,
                    petBirthDay : '2021-01-01',
                    petPrice : 0,
                    id : 3
                },
                {
                    photoName : 'images/cute4.jpeg',
                    petName : "큐트",
                    petAge : 13,
                    petBirthDay : '2021-01-01',
                    petPrice : 150000,
                    id : 4
                },
                {
                    photoName : 'images/cute_pet5.jpg',
                    petName : "큐트트",
                    petAge : 14,
                    petBirthDay : '2021-01-01',
                    petPrice : 100000,
                    id : 5
                }
            ]
        }
    }
}

</script>
